* {
  box-sizing: border-box;
}

body {
  background-color: #000000;
  height: 100%;
  width: 1270px;
  margin: 10px auto 100px auto;
  font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif
}

header {
  background: url(../images/starfield_banner.jpg);
  width: 100%;
  height: 100%;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
}

footer {
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: bold;
}

ul {
  list-style: none;
  display: inline-flex;
  float: right;
  color: #fcfcfc;
}

main {
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}

img:hover {
  cursor: pointer;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 12px 0px;
}

.col {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.center {
  margin: 0px auto;
}

.small_font {
  font-size: 13px;
}

.medium_font {
  font-size: 17px;
}

.big_font {
  font-size: 20px;
}

.icon {
  height: 25px;
  width: 25px;
}

.clear_border {
  border-style: none;
}

.align_left {
  float: left;
  width: fit-content;
  margin: 5px;
}

.align_right {
  float: right;
  width: fit-content;
  margin: 5px;
}

.title_wraper {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.title {
  background-color: #fcfcfc;
  opacity: 0.8;
  font-weight: 600;
  font-size: 19px;
  margin: 0px;
  padding: 6px;
}

.label {
  background-color: #506894;
  opacity: 0.8;
  color: #fcfcfc;
  font-size: 17px;
  margin: 0px;
  padding: 6px;
  width: fit-content;
}

.logo {
  height: 90px;
  width: 160px;
  margin: 10px;
}

.nav_wraper {
  margin-right: 20px;
}

.main_nav {
  padding: 5px 15px;
  margin: 5px;
}

.main_nav li {
  padding: 10px;
  position: relative;
}

.main_nav li:hover {
  background-color: #15418c;
}

.sub_nav {
  background-color: #555555;
  padding: 0px;
  margin-bottom: 0px;
}

.sub_nav li {
  padding: 12px 14px;
  position: relative;
}

.border_right::after {
  position: absolute;
  content: '';
  height: 50%;
  background-color: #ffffff;
  top: 25%;
  left: 100%;
  width: 1px;
}

.sub_nav li:hover {
  background-color: #888888;
  cursor: pointer;
}

.search_bar {
  width: 300px;
  height: 40px;
  margin-top: 20px;
  position: relative;
}

#search {
  height: 36px;
  width: 140px;
  background-color: #333333;
  padding: 5px;
  position: absolute;
  right: 40px;
  font-size: 14px;
  color: #ffffff;
}

#search_icon {
  position: absolute;
  right: 40px;
  top: 5px;
}

#share_icon {
  position: absolute;
  right: 12px;
  top: 5px;
}

.card {
  position: relative;
}

.card:hover .title, .label:hover {
  opacity: 1;
  cursor: pointer;
}

.large_card {
  height: 630px;
  width: 630px;
}

.small_card {
  height: 310px;
  width: 310px;
}

.medium_card {
  height: 310px;
  width: 630px;
}

.events {
  background-color: #45709a;
  color: #fcfcfc;
}

a:link, a:visited {
  color: #ffffff;
  text-decoration: none;
}

.events a:hover, .links a:hover {
  text-decoration: underline;
}

.events_title {
  border-bottom: solid #fcfcfc 1px;
  margin: 5px;
}

.events_content {
  margin: 5px;
  font-size: 14px;
}

.events_footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  border-top: solid #fcfcfc 1px;
  width: 100%;
}

.load_more {
  width: 100%;
  height: 40px;
  background-color: #244383;
  color: #fcfcfc;
  padding: 8px 0px;
  margin: 30px 0px;
}

.load_more:hover {
  background-color: #5d7fb8;
  cursor: pointer;
}

#small_logo {
  height: 70px;
  width: 70px;
  float: left;
}

.details {
  color: #fcfcfc;
  text-align: left;
  float: left;
  width: 310px;
  margin: 0px;
}

.links {
  margin-top: 50px;
  float: right;
}

.links a:link, .links a:visited {
  color: #647fb5;
}

.links li {
  padding-left: 20px;
}